[submodule "bamboos"]
	path = bamboos
	url = ../bamboos
[submodule "onepanel"]
	path = onepanel
	url = ../onepanel
[submodule "op_worker"]
	path = op_worker
	url = ../op-worker
[submodule "cluster_manager"]
	path = cluster_manager
	url = ../cluster-manager
[submodule "oneclient"]
	path = oneclient
	url = ../oneclient
